[mysqld]
port                    = 3306
skip-external-locking
query-cache-type    = 1
query-cache-size    = 64M
query_cache_limit   = 10M
thread_cache_size   = 8
innodb_file_per_table
ssl-cert = /etc/pki/tls/certs/iRedMail.crt
ssl-key = /etc/pki/tls/private/iRedMail.key
ssl-cipher = ALL
[client]
default-character-set=utf8
